language: java
sudo: required
install:
-   pip install --user codecov
services:
-   docker
env:
-  CODECOV_TOKEN="705a3cf5-96a2-467a-a8dc-614efb420eb9"
script:
-   docker run -v $(pwd):/code:rw team5499/frc-testing-image /code/gradlew -p /code test
after_success:
# -   codecov -t 705a3cf5-96a2-467a-a8dc-614efb420eb9
# -   bash <(curl -s https://codecov.io/bash)
